// Fonts //

$homeLetters: "Shadows Into Light", cursive;
$aboutMe: "Indie Flower", cursive;

// Colors //

$principal: #1fbaa3;
$base: black;
$homeMenu: #000000b5;
$consoleBase: #808080a4;
