// Footer + Logo + Copyright Text //

.footer {
  position: absolute;
  bottom: 3vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    width: 20vw;
    margin-bottom: 2vh;

    @media all and (min-width: 768px) {
      width: 10vw;
    }

    @media all and (min-width: 1000px) {
      width: 8vw;
    }
  }

  &__copyright {
    color: $principal;
    font-size: 1.2em;
    font-family: $homeLetters;
  }
}
