// Header + Complete List //

.header {
  position: absolute;
  width: 100vw;
  padding: 3vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__headerHome {
    width: 80vw;

    @media all and (min-width: 768px) {
      width: 50vw;
    }
    @media all and (min-width: 1000px) {
      width: 30vw;
    }
  }

  &__headerList {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 1rem 0;
  }
}

// List elements //

.headerLinks {
  color: $principal;
  font-weight: 700;
  font-size: 1.3em;
  font-family: $homeLetters;

  @media all and (min-width: 768px) {
    font-size: 1.5em;
  }
  @media all and (min-width: 1000px) {
    font-size: 1.3em;
  }
}

.headerLinks:hover {
  color: $base;
}

.headerButtons {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  background-color: $homeMenu;
  border-radius: 30%;
}

.headerButtons:hover {
  background-color: $principal;
  transform: scale(1.2);
  border-radius: 30%;
}
