/* HEADER */

.header {
  position: absolute;
  width: 100vw;
  padding: 3vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.headerList {
  display: flex;
  list-style: none;
  gap: 1.875rem;
}

/* MAIN */

.trailer {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

/* FOOTER */

.footer {
  position: relative;
  bottom: 7vh;
  display: flex;
  justify-content: center;
  color: white;
}
