// Main //

.main {
  background-color: $base;
}

// Console Text //

.presentation {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100vh;
  z-index: -1;

  &__textPresentation {
    width: 100vw;
    height: 10vh;
    background-color: $consoleBase;
  }
}

// Background //

.trailer {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -2;
}
