// Main //

.aboutMeMain {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12rem 0;
  font-family: $aboutMe;
}

// Full Screem Grid //

.meGrid {
  @media all and (min-width: 1000px) {
    overflow-y: scroll;
    margin: 2rem 0;
  }
}

// Division //

.division {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem 0;
  margin-bottom: 1rem;

  &__circle {
    background-color: $consoleBase;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
  }

  @media all and (min-width: 1000px) {
    display: none;
  }
}

// Image + Presentation + Title //

.meInfo {
  overflow-y: scroll;
  margin: 1.2rem 1.5rem 0;
  padding: 0 1rem;

  @media all and (min-width: 1000px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y: hidden;
    margin: -3rem 0;
    padding-top: 4rem;
  }

  &__mePhoto {
    width: 78%;
    border: $consoleBase dotted 0.2rem;
    border-radius: 50%;
    margin: 1rem 0;

    @media all and (min-width: 768px) {
      width: 50%;
    }

    @media all and (min-width: 1000px) {
      width: 45%;
    }
  }

  &__meIntroduction {
    color: $principal;
    font-weight: 600;

    @media all and (min-width: 768px) {
      font-size: 1.5em;
    }

    @media all and (min-width: 768px) {
      font-size: 1em;
      padding: 0 2rem;
    }
  }

  &__meTitle {
    background-color: $homeMenu;
    width: 50%;
    padding: 1rem;
    border-radius: 30%;
    color: $consoleBase;
    font-size: 1.8em;
    font-family: $homeLetters;

    @media all and (min-width: 768px) {
      font-size: 2.5em;
    }

    @media all and (min-width: 1000px) {
      font-size: 1.8em;
    }
  }
}

// Formation + Experience //

.containerInfo {
  color: $principal;
  font-weight: 600;
  margin-top: 2rem;
  padding: 0.5rem;
  background-color: $consoleBase;

  @media all and (min-width: 768px) {
    margin: 2rem 8rem;
  }

  @media all and (min-width: 1000px) {
    margin: 2rem 1rem;
  }

  &__containerList {
    display: flex;
    justify-content: center;
    align-items: center;

    @media all and (min-width: 768px) {
      gap: 3em;
    }

    @media all and (min-width: 768px) {
      gap: 1em;
    }
  }

  &__containerSkills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}

.skillsInfo {
  @media all and (min-width: 768px) {
    font-size: 1.5em;
  }

  @media all and (min-width: 1000px) {
    font-size: 1em;
  }
}

// Scroll //

/* Ancho de la barra */

.meInfo::-webkit-scrollbar {
  width: 1rem;
}

.meGrid::-webkit-scrollbar {
  width: 0.3rem;
}

/* Color de la barra y bordes */

.meInfo::-webkit-scrollbar-thumb {
  background-color: $principal;
  border-radius: 50%;
  border: transparent;
}

.meGrid::-webkit-scrollbar-thumb {
  background-color: $principal;
  border: transparent;
}
