// Main //

.contactMain {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 3rem;
  color: $principal;

  &__iconsMain {
    padding-top: 3rem;
  }
}

// Icons //

i {
  color: $principal;
  padding: 0.5rem 1rem;
  font-size: 4em;
}

// Icons Text //

.textCV {
  font-size: 1.3em;
  text-decoration: underline;

  @media all and (min-width: 768px) {
    font-size: 1.6em;
    padding-bottom: 1rem;
  }

  @media all and (min-width: 1000px) {
    padding: 0 5rem;
  }
}
