// Main + Projects Box //

.projectsMain {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__projectsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;

    @media all and (min-width: 1000px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 2rem;
    }
  }

  &__projectsTitle {
    background-color: $homeMenu;
    width: 50%;
    padding: 1rem;
    border-radius: 30%;
    color: $consoleBase;
    font-size: 1.8em;
    font-family: $homeLetters;
  }
}

// Projects List + Images + Icons //

.projectsList {
  display: flex;
  padding: 0 1rem;
  color: $principal;

  &__projectsItem {
    display: flex;
    background-color: transparent;
    border: $principal solid 0.1rem;
    border-radius: 30%;
    width: 40%;
    margin-right: 0.5rem;
  }

  &__projectsElement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__projectsImages {
    width: 90%;
    border-radius: 20%;
    margin: 0.5rem 0;

    @media all and (min-width: 768px) {
      width: 68%;
    }
    @media all and (min-width: 1000px) {
      width: 60%;
    }
  }

  &__projectsImages:hover {
    padding: 0.5rem;
    background-color: $consoleBase;
    opacity: 50%;
  }
}

.projectsIconsBox {
  display: flex;
  justify-content: center;
}

.projectsLinks {
  display: flex;
  justify-content: center;
  align-items: center;

  &__projectsCode {
    width: 60%;
    @media all and (min-width: 1000px) {
      width: 50%;
    }
  }

  &__projectsGroup {
    width: 30%;
    @media all and (min-width: 1000px) {
      width: 25%;
    }
  }
  &__projectsSingle {
    width: 23%;
    @media all and (min-width: 1000px) {
      width: 18%;
    }
  }
}

.projectsLinks:hover {
  background-color: $consoleBase;
}
